@define-color clr-polarnight-1 #2E3440;
@define-color clr-polarnight-2 #3B4252;
@define-color clr-polarnight-3 #434c5e;
@define-color clr-polarnight-4 #4c566a;

@define-color clr-snowstorm-1 #D8DEE9;
@define-color clr-snowstorm-2 #E5E9F0;
@define-color clr-snowstorm-3 #ECEFF4;

@define-color clr-frost-1 #8fbcbb;
@define-color clr-frost-2 #88c0d0;
@define-color clr-frost-3 #81a1c1;
@define-color clr-frost-4 #5e81ac;

@define-color clr-aurora-1 #bf616a;
@define-color clr-aurora-2 #d08770;
@define-color clr-aurora-3 #ebcb8b;
@define-color clr-aurora-4 #a3be8c;
@define-color clr-aurora-5 #b48ead;

* {
    border: none;
    border-radius: 0px;
    font-family:
        Iosevka,
        FontAwesome,
        Noto Sans CJK;
    font-size: 20px;
    font-style: normal;
    min-height: 0;
    background-color: transparent;
}

window#waybar {
    /*background: @clr-polarnight-2; */
    background-color: transparent;
    border-right: 0.4px solid @clr-frost-3;
    color: @clr-snowstorm-1;
}

#workspaces {
    /* background: @clr-polarnight-2; */
    background: transparent;
    margin: 5px 5px 5px 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 16px;
    border: solid 0px @clr-snowstorm-1;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    padding: 0px 5px;
    border-radius: 16px;
    color: @clr-frost-3;
}

#workspaces button.active {
    color: @clr-snowstorm-1;
    /* background-color: transparent; */
    background-color: @clr-frost-3;
    border-radius: 10px;
}

#workspaces button:hover {
    background-color: @clr-snowstorm-2; /* This doesn't actually affect the color  */
    color: @clr-frost-3;
    border-radius: 16px;
}

#custom-date,
#battery,
#pulseaudio,
#network,
#custom-randwall,
#custom-launcher {
    background: transparent;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 1px;
    border: solid 0px #f4d9e1;
}

#custom-date {
    color: #d3869b;
}

#custom-power {
    color: #24283b;
    background-color: #db4b4b;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px 10px;
}

#tray {
    background-color: transparent;
    margin: 5px 5px 5px 5px;
    border-radius: 16px;
    padding: 0px 5px;
    /* border-right: solid 1px #282738; */
}

#network {
    color: #f4d9e1;
    border-radius: 8px;
    margin-right: 5px;
}

#custom-launcher {
    color: #e5809e;
    background-color: #282828;
    border-radius: 0px 24px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 0 20px 0 13px;
    /*border-right: solid 1px #282738;*/
    font-size: 20px;
}

#custom-launcher button:hover {
    background-color: #fb4934;
    color: transparent;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 10px;
}

#window {
    background: @clr-frost-3;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#clock {
    background-color: transparent;
    color: @clr-snowstorm-1;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
}

#memory {
    background-color: transparent;
    color: @clr-aurora-1;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    /* font-weight: bold; */
}

#cpu {
    background-color: transparent;
    color: @clr-aurora-3;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    /* font-weight: bold; */
}

#temperature {
    background-color: transparent;
    color: @clr-aurora-4;
    border-radius: 16px;
}

#pulseaudio {
    color: @clr-aurora-5;
    border-radius: 16px;
}
#pulseaudio.muted {
    background: transparent;
    color: #928374;
    border-radius: 8px;
    margin-left: 0px;
}
